In [3]:
!pip install bs4 # for install libraries
!pip install requests 

from bs4 import BeautifulSoup  # for import libraries
import requests

page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special') #to get requests to webpage

soup=BeautifulSoup(page.content)  #to get page content

titles=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    titles.append(i.text)  #scraping all titles of restaurents
    
location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text) #scraping all location of restaurents
    
price=[]    
for i in soup.find_all('span',class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0]) #scraping all price of restaurents
    
images=[]
for i in soup.find_all('img',class_="no-img"):
    images.append(i.get('data-src'))
    
import pandas as pd # import pandas from python libraries
df=pd.DataFrame({'Titles':titles,'Location':location,'Price':price,'Images_url':images})
df

ERROR: Invalid requirement: '#'

Requirement already satisfied: requests in c:\users\home\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\home\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\home\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\home\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\home\anaconda3\lib\site-packages (from requests) (3.3)

,Titles,Location,Price,Images_url
0,Castle Barbeque,"Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,680 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...